.message {
  position: absolute;
  top: 10px;
  right: 30px;
  font-family: Helvetica, sans-serif;
}

.info {
  background-color: #0074D9;
  color: white;
}

.warning {
  background-color: #FFDC00;
  color: #001f3f;
}

.error {
  background-color: #FF4136;
  color: white;
}

.title {
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bold;
  height: 15px;
}

.description {
  width: 300px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: normal;
}

.close {
  float: right;
  padding-right: 10px;
  font-weight: normal;
}

.close:hover {
  cursor: pointer;
}
